@font-face {
    font-family: 'Suisse Int\'l Condensed';
    src: url('@styles/fonts/Suisse Int\'l Condensed/SuisseIntlCondensed-BoldItalic.woff2') format('woff2'),
        url('@styles/fonts/Suisse Int\'l Condensed/SuisseIntlCondensed-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l Condensed';
    src: url('@styles/fonts/Suisse Int\'l Condensed/SuisseIntlCondensed-Bold.woff2') format('woff2'),
        url('@styles/fonts/Suisse Int\'l Condensed/SuisseIntlCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l Condensed';
    src: url('@styles/fonts/Suisse Int\'l Condensed/SuisseIntlCondensed-Light.woff2') format('woff2'),
        url('@styles/fonts/Suisse Int\'l Condensed/SuisseIntlCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l Condensed';
    src: url('@styles/fonts/Suisse Int\'l Condensed/SuisseIntlCondensed-LightItalic.woff2') format('woff2'),
        url('@styles/fonts/Suisse Int\'l Condensed/SuisseIntlCondensed-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l Condensed';
    src: url('@styles/fonts/Suisse Int\'l Condensed/SuisseIntlCondensed-Regular.woff2') format('woff2'),
        url('@styles/fonts/Suisse Int\'l Condensed/SuisseIntlCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l Condensed';
    src: url('@styles/fonts/Suisse Int\'l Condensed/SuisseIntlCondensed-Medium.woff2') format('woff2'),
        url('@styles/fonts/Suisse Int\'l Condensed/SuisseIntlCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l Condensed';
    src: url('@styles/fonts/Suisse Int\'l Condensed/SuisseIntlCondensed-MedItalic.woff2') format('woff2'),
        url('@styles/fonts/Suisse Int\'l Condensed/SuisseIntlCondensed-MedItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l Condensed';
    src: url('@styles/fonts/Suisse Int\'l Condensed/SuisseIntlCondensed-Thin.woff2') format('woff2'),
        url('@styles/fonts/Suisse Int\'l Condensed/SuisseIntlCondensed-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l Condensed';
    src: url('@styles/fonts/Suisse Int\'l Condensed/SuisseIntlCondensed-SemibdItalic.woff2') format('woff2'),
        url('@styles/fonts/Suisse Int\'l Condensed/SuisseIntlCondensed-SemibdItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l Condensed';
    src: url('@styles/fonts/Suisse Int\'l Condensed/SuisseIntlCondensed-ThinItalic.woff2') format('woff2'),
        url('@styles/fonts/Suisse Int\'l Condensed/SuisseIntlCondensed-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l Condensed';
    src: url('@styles/fonts/Suisse Int\'l Condensed/SuisseIntlCondensed-RegItalic.woff2') format('woff2'),
        url('@styles/fonts/Suisse Int\'l Condensed/SuisseIntlCondensed-RegItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l Condensed';
    src: url('@styles/fonts/Suisse Int\'l Condensed/SuisseIntlCondensed-Semibold.woff2') format('woff2'),
        url('@styles/fonts/Suisse Int\'l Condensed/SuisseIntlCondensed-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

