@font-face {
    font-family: 'Suisse Int\'l Mono';
    src: url('@styles/fonts/Suisse Int\'l Mono/SuisseIntlMono-Bold.woff2') format('woff2'),
        url('@styles/fonts/Suisse Int\'l Mono/SuisseIntlMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l Mono';
    src: url('@styles/fonts/Suisse Int\'l Mono/SuisseIntlMono-Thin.woff2') format('woff2'),
        url('@styles/fonts/Suisse Int\'l Mono/SuisseIntlMono-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l Mono';
    src: url('@styles/fonts/Suisse Int\'l Mono/SuisseIntlMono-Regular.woff2') format('woff2'),
        url('@styles/fonts/Suisse Int\'l Mono/SuisseIntlMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

