@font-face {
    font-family: 'Suisse Screen';
    src: url('@styles/fonts/Suisse Screen/SuisseScreen-Thin.woff2') format('woff2'),
        url('@styles/fonts/Suisse Screen/SuisseScreen-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Screen';
    src: url('@styles/fonts/Suisse Screen/SuisseScreen-ThinItalic.woff2') format('woff2'),
        url('@styles/fonts/Suisse Screen/SuisseScreen-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Screen';
    src: url('@styles/fonts/Suisse Screen/SuisseScreen-Light.woff2') format('woff2'),
        url('@styles/fonts/Suisse Screen/SuisseScreen-Light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Screen';
    src: url('@styles/fonts/Suisse Screen/SuisseScreen-LightItalic.woff2') format('woff2'),
        url('@styles/fonts/Suisse Screen/SuisseScreen-LightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Screen';
    src: url('@styles/fonts/Suisse Screen/SuisseScreen-Monitor.woff2') format('woff2'),
        url('@styles/fonts/Suisse Screen/SuisseScreen-Monitor.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Screen';
    src: url('@styles/fonts/Suisse Screen/SuisseScreen-MonitorItalic.woff2') format('woff2'),
        url('@styles/fonts/Suisse Screen/SuisseScreen-MonitorItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Screen';
    src: url('@styles/fonts/Suisse Screen/SuisseScreen-Regular.woff2') format('woff2'),
        url('@styles/fonts/Suisse Screen/SuisseScreen-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Screen';
    src: url('@styles/fonts/Suisse Screen/SuisseScreen-RegularItalic.woff2') format('woff2'),
        url('@styles/fonts/Suisse Screen/SuisseScreen-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Screen';
    src: url('@styles/fonts/Suisse Screen/SuisseScreen-Medium.woff2') format('woff2'),
        url('@styles/fonts/Suisse Screen/SuisseScreen-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Screen';
    src: url('@styles/fonts/Suisse Screen/SuisseScreen-MediumItalic.woff2') format('woff2'),
        url('@styles/fonts/Suisse Screen/SuisseScreen-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Screen';
    src: url('@styles/fonts/Suisse Screen/SuisseScreen-SemiBold.woff2') format('woff2'),
        url('@styles/fonts/Suisse Screen/SuisseScreen-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Screen';
    src: url('@styles/fonts/Suisse Screen/SuisseScreen-SemiBoldItalic.woff2') format('woff2'),
        url('@styles/fonts/Suisse Screen/SuisseScreen-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Screen';
    src: url('@styles/fonts/Suisse Screen/SuisseScreen-Bold.woff2') format('woff2'),
        url('@styles/fonts/Suisse Screen/SuisseScreen-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Screen';
    src: url('@styles/fonts/Suisse Screen/SuisseScreen-BoldItalic.woff2') format('woff2'),
        url('@styles/fonts/Suisse Screen/SuisseScreen-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}